@page
@model AnonymForum2.Pages.ReplyModel
@{
}

<form method="post">
    <input type="text" asp-for="replyForm.Contents" placeholder="Skriv ditt svar" />
    <button type="submit">Svara</button>
</form>